<section class="vstack gap-3">

    <header>
        <p class="text-secondary mb-0">
            Panel de superusuario
        </p>
    </header>

    <app-superusuario-sections-nav
        [seccionActiva]="seccionActiva()"
        (seccionChange)="cambiarSeccion($event)">
    </app-superusuario-sections-nav>

    @if (seccionActiva() === 'colegios') {
        <app-superusuario-colegios-view></app-superusuario-colegios-view>
    }

    @if (seccionActiva() === 'logs') {
        <app-superusuario-logs-view></app-superusuario-logs-view>
    }

</section>
